@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');
.theme-container.custom-page-class #main-title{
  /* 特定页面的 CSS */
    font-family: 'Akaya Telivigala', cursive;
    line-height: 2;
    white-space: nowrap;
}
.theme-container.custom-page-class .description{
    font-family: 'Zhi Mang Xing', cursive;
}