@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');
@font-face {
    font-family: 'SmileySans-Oblique';
    src: url('/blog/fonts/SmileySans-Oblique.woff2') format('woff2'),
        url('/blog/fonts/SmileySans-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    // font-display: swap;
}
body{
   font-family: '-apple-system', 'BlinkMacSystemFont', 'Hiragino Sans GB', 'Roboto', 'Segoe UI', 'Microsoft Yahei',
    '微软雅黑', 'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica', 'Arial', 'STHeiti', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol'
}
.sidebar{
    background-color: #fafafa;
}
.navbar{
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}
.action-button{
  padding: 0.4rem 3rem !important;
}
.theme-container.custom-page-class #main-title{
  /* 特定页面的 CSS */
    font-family: 'Akaya Telivigala', cursive;
    line-height: 2;
    white-space: nowrap;
    background-image: -webkit-linear-gradient(bottom, red, #3347F9, #265EBE); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}
.theme-container.custom-page-class .description{
    font-family: 'Zhi Mang Xing', cursive;
    font-weight: 500;
}
.home .hero .action-button{
  border-radius: 30px!important;
}
