@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');
@font-face {
    font-family: 'Smiley Sans Oblique';
    src: url('/fonts/SmileySans-Oblique.woff2') format('woff2'),
        url('/fonts/SmileySans-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
body{
   font-family: 'Smiley Sans Oblique'
}
.theme-container.custom-page-class #main-title{
  /* 特定页面的 CSS */
    font-family: 'Akaya Telivigala', cursive;
    line-height: 2;
    white-space: nowrap;
    background-image: -webkit-linear-gradient(bottom, red, #fd8403, yellow); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}
.theme-container.custom-page-class .description{
    font-family: 'Zhi Mang Xing', cursive;
    font-weight: 500;
}
.home .hero .action-button{
  border-radius: 30px!important;
}